body{
    background:url(/imges/aab.jpeg) top left no-repeat;
    background-size: 100%;
    padding: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    width: 400px;
    height: 600px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -200px;
    margin-top: -200px;
    border: 2px solid rgb(80, 76, 76);
    text-align: center;
}
.input{
    font-size: 14px;
    font-family: 宋体;

    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #000000;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.da{
    width: 200px;
    height: 50px;
}